* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

/* Typography */
body {
    font-family: "Montserrat", sans-serif;
}

.featured-text { font-family: "Oranienbaum", serif;}
.accent-text { font-family: "Poppins", sans-serif;}

/* Reuseable Group Styles */
body .button {
    background-color: var(--featured-color);
    color: var(--base-color);
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--featured-color);
    transition: all 150ms;
}

body .button:hover {
    background-color: var(--accent-color);
    color: var(--featured-color);
}

footer a:hover {
    color: var(--accent-color);
}
