<section class=" grid grid-cols-4 min-h-screen divide-x divide-y divide-featured">
  
  <div class="relative flex col-span-4 md:col-span-2 row-span-4 md:row-span-2">
    <img class="absolute inset-0 object-cover w-full h-full object-top" style="object-position: 50% 25%;" src="{{block.image}}" alt="{{block.alt}}">
    <div class="relative p-8 sm:p-16 col-span-2 text-white pr-12 self-end">
      <div>
        <h2 class="pb-8 featured-text text-4xl">{{block.heading}}</h2>
      </div>
      <p class="pb-3">{{block.text}}</p>
      <div class="pt-6">
        <a href="{{block.button-link}}" class="button">{{block.button-text}}</a>
      </div>
    </div>
  </div>

  {% for item in items | limit:4 %}
  <div class="col-span-2 md:col-span-1 -my-px p-6 flex">
    <div class="self-end">

      {% if items.size > 4 and forloop.index == 4 %}
        <a href="{{link}}" class="featured-text text-2xl">See more &#8594;</a>
        <!-- This {{link}} looks super generic, but it works because of the assigns in the default layout, and not an item.something because it's not technically in the loop because of the if statement -->

      {% else %}

      <h3 class="featured-text text-4xl pb-2">{{item.heading}}</h3>
      <p class="">{{item.text}}</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}

</section>