<!-- Text and Image Grid -->
<section class="min-h-screen border-y border-featured grid md:grid-cols-2 divide-x divide-featured">
  <!-- Text -->
  <div class="p-8 sm:p-16 col-span-1 pr-12 self-end">
    <div>
      <h2 class="pb-8 featured-text text-4xl">{{block.heading}}</h2>
    </div>
    <p class="pb-3">{{block.text-1}}</p>
    <p class="pb-3">{{block.text-2}}</p>
    <div class="pt-6">
      <button class="bg-featured text-base uppercase text-xs px-6 p-2 border-featured border transition hover:bg-sandy hover:text-featured">{{block.button-text}}</button>
    </div>
  </div>
  <!-- md:h-full on the div negates the h-72, h-full on the image is still needed because of the position absolute -->
  <div class="grow relative order-first h-72 md:order-none md:h-full"> 
    <img class="absolute w-full h-full object-cover object-center" style="object-position: 50% 15%;"  src="{{block.image}}" alt="{{block.alt}}">
  </div>
</section>