<!-- Text and Image Grid -->
<section class="min-h-screen border-y border-featured grid md:grid-cols-2 divide-x divide-featured">
  <!-- Image -->
  <!-- md:h-full on the div negates the h-72, h-full on the image is still needed because of the position absolute -->
  <div class="grow relative order-first h-72 md:order-none md:h-full"> 
    <img class="absolute w-full h-full object-cover object-center" style="object-position: {{block.image-horizontal-focal-point}} {{block.image-vertical-focal-point}}"  src="{{block.image}}" alt="{{block.alt}}">
  </div>
  <!-- Text -->
  <div class="p-8 sm:p-16 col-span-1 pr-12 {% if block.text-placement == 'top' %} self-start {% elsif block.text-placement == 'center' %} self-center {% elsif block.text-placement == 'bottom' %} self-end {% endif %} 
  
  {% if block.image-placement == 'right' %} md:order-first {% endif %}">
    <div>
      <h2 class="pb-8 featured-text text-4xl">{{block.heading}}</h2>
    </div>
    <p class="pb-3">{{block.text-1}}</p>
    <p class="pb-3">{{block.text-2}}</p>
    <div class="pt-5 pb-8 sm:pb-0">
      <button class="button">{{block.button-text}}</button>
    </div>
  </div>
</section>