<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include site-head.html %}

   <style>
         :root {
            --featured-color: {{site.data.style.featured-color}};
            --accent-color: {{site.data.style.accent-color}};
            --base-color: {{site.data.style.base-color}};
         }
   </style>

<body class="bg-base text-featured">

 <!-- Header -->
 {% include header.html %}

 {% for block in page.blocks %}

 {% include /{{block.id}}.html %}

 {% endfor %}

    <!-- {{content}} -->

 {% include footer.html %}

</body>
</html>