<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include site-head.html %}

   <style>
         :root {
            --featured-color: {{site.data.style.featured-color}};
            --accent-color: {{site.data.style.accent-color}};
            --base-color: {{site.data.style.base-color}};
         }
   </style>

<body class="bg-base-color text-featured">

 <!-- Header -->
 {% include header.html %}

 {% for block in page.blocks %}
   <!-- This points to the classes yml -->
   {% if block.type == 'classes' %} 
      {% assign items = site.data.classes.card-loop %}
      {% assign link = site.data.classes.more-than-four-link %}
      <!-- This code above references the specific link for when the classes are more than four, and makes sure all of the classes point to the same page -->

   {% elsif block.type == 'testimonials' %}
      {% assign items = site.data.testimonials.card-loop %}
      {% assign link = site.data.testimonials.more-than-four-link %}
      <!-- This code above references the specific link for when the testimonials are more than four, and makes sure all of the testimonials point to the same page -->

   {% else %}
      {% assign items = block.items %}
   {% endif %}
   <!-- This copy above means if it's not in the yml, then point just to the block -->

 {% include /{{block.id}}.html link=link items=items %}
 <!-- This passes the message on to the include that the information (link) is indeed a link and to use it -->

 {% endfor %}

    <!-- {{content}} -->

 {% include footer.html %}

</body>
</html>