<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include site-head.html %}

   <style>
         :root {
            --featured-color: {{site.data.style.featured-color}};
            --accent-color: {{site.data.style.accent-color}};
            --base-color: {{site.data.style.base-color}};
         }
   </style>

<body class="bg-base text-featured">

 <!-- Header -->
 {% include header.html %}

 {% for block in page.blocks %}
   {% if block.type == 'classes' %}
      {% assign items = site.data.classes.card-loop %}
   {% elsif block.type == 'testimonials' %}
      {% assign items = site.data.testimonials.card-loop %}
   {% else %}
      {% assign items = block.items %}
   {% endif %}

 {% include /{{block.id}}.html %}

 {% endfor %}

    <!-- {{content}} -->

 {% include footer.html %}

</body>
</html>